
h1{
    font-family: Franklin Gothic;
    text-align: center;
}
img{
    border-radius: 5px;
    margin-left: 350px;
}
p{
    font-family: Franklin Gothic;
    font-size: 20px;
}
h3{
    font-family: Franklin Gothic;
}
ul{
    font-family: Franklin Gothic;
}
footer a{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-family:Franklin Gothic ;
  

}
.text{
    text-align: left;
    margin-left: 50px;
    margin: 15px;
}